# Server
PORT=

# Database
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Serial
SERIAL_PORT=
SERIAL_BAUD=

# Bounding Box
BBOX_MIN_LAT=
BBOX_MAX_LAT=
BBOX_MIN_LNG=
BBOX_MAX_LNG=

# Mode mock untuk testing tanpa hardware
MOCK_MODE=